<h1>Edit a task</h1>
<form action="/tasks/edit-task/<%= task.id %>?_method=PUT" method="POST" class="col-md-10 mx-auto" >
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" placeholder="enter a brand" name="title" value="<%= task.title %>">
      </div>
    </div>

     <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label for="details">details</label>
        <textarea type="text" name="details" rows="10" cols="30"><%= task.details %></textarea>
      </div>
     </div>
    
    <!-- <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label for="details">Details</label>
        <input type="text" class="form-control" placeholder="item details" name="details">
      </div>
    </div> --> 
    
    <button type="submit" class="btn btn-primary mt-2 ml-2">create task</button>
  </form>