
  <%- include('layouts/header'); -%>
  <%- include('layouts/navbar'); -%>

  <!-- Main Content -->
    <div class="my-content container">
            <div class="jumbotron col-md-10 d-flex flex-column mx-auto my-btn-boxshadow"> 
                <div class="col-md-6 mx-auto">
                    <h1 class="display-3 text-center ">Catalog!!!</h1>
                    <h5 class=" text-center ">Stock Inventory management </h5>
                    <img class="img-fluid" src="images/cataloger_screenshot.jpg" alt="" >
                </div>
                
                
                <div class="row justify-content-center mt-3">
                    <a href="users/login" class="btn btn-success btn-sm mx-2 my-btn-boxshadow">Log In</a>
                    <a href="users/create" class="btn btn-success btn-sm mx-2 my-btn-boxshadow">SignUp</a>
                </div>
            </div>
    </div>
    
    
    <%- include('layouts/scripts'); -%>

